<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d2d07c4c-2b48-4113-9dba-d07dcd05bad5/resourceGroups/FormBuilder/providers/Microsoft.Web/sites/formbuilderapi</ResourceId>
    <ResourceGroup>FormBuilder</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://formbuilderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1b29c888-db33-4d98-9598-8b62222feec6</ProjectGuid>
    <PublishUrl>https://formbuilderapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$formbuilderapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>